/__pycache__
*.py[co]
/.idea
*.dbf
*.xls
*.xlsx
*.csv
*.sqlite3
*/migrations/*

/frontend/node_modules
/frontend/dist
/frontend/static

/front/node_modules
/frontend/dist
/frontend/static

# npm
npm-debug.log

# visual studio code
*/.vscode/*
/.vscode
*/*.code-workspace

# others
front/debug.log
/front/debug.log

