// css reset
@use "./scss/reset";

// css fonts
@use "./scss/fonts";

// css button
@use "./scss/button";

// css form
@use "./scss/form";

// css buttons wrapper
@use "./scss/buttonsWrapper";

// css nav bar
@use "./scss/nav";

//css generic wrapper
@use "./scss/wrapper";

// css select survey
@use "./scss/selectSurvey";

// css surveys
@use "./scss/surveys";

// css stations
@use "./scss/stations";

// css custom properties
:root {
	//FONT VARIABLES
	--normal-font: "Roboto", "Sans Serif";
	--special-font: "Signika", "Serif";
	//COLOR VARIABLES
	//blue gradient
	--blue-gradient-1: #133347;
	--blue-gradient-2: #3b6c90;
	--blue-gradient-3: #74a3c4;
	--blue-gradient-4: #a3d0f0;

	//grey gradient
	--grey-gradient-1: #494c4e;
	--grey-gradient-2: #808080;
	--grey-gradient-3: #b8bbbf;
	--grey-gradient-4: #e2e0e6;

	//global
	--background-global-color: #f2f3f0;
	--text-color: black;
	--highlight-text-color: var(--blue-gradient-1);

	//links and buttons higlights
	--higlight-background-color: var(--blue-gradient-1);
	--higlight-front-color: var(--background-global-color);

	//button colors
	--button-background-color: var(--grey-gradient-3);

	//wrapper border
	--wrapper-border-color: var(--blue-gradient-3);
	//wrapper background color
	--wrapper-background-color: white;

	//nav
	--background-nav: var(--blue-gradient-3);

	//error
	--error_background: #fbc52b;
	--error_text: #e76326;
}

html {
	background-color: var(--background-global-color);
	color: var(--text-color);
	font-family: var(--normal-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--special-font);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		padding: 20px;
		color: var(--highlight-text-color);
	}
}

// fieldset
fieldset.wrapper {
	width: 100%;
	padding-left: 5px;
}

// hauls
.haulsWrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0px 0px 0px 20px;
}

.haul__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	// width: 100%;
	min-height: 2rem;
	padding: 5px 0px;
}

.haul__cell {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 2rem;
	padding-right: 10px;
}

.haul__cell:last-child {
	padding-right: 0px;
}

// cell aligned to the right
.haul__cell--right {
	margin-left: auto;
}

.haul__label {
	margin-right: 5px;
}

input:disabled {
	//border size and padding must be the same as the input enabled style:
	border: 1px solid var(--wrapper-background-color);
	background: none;
	padding: 2px 5px;
	font-size: 1rem;
	font-family: var(--normal-font);
	color: var(--text-color);
}

input:enabled {
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid var(--background-global-color);
	padding: 2px 5px;
	background-color: var(--background-global-color);
}

input:focus,
input:active {
	border-color: var(--blue-gradient-1);
}
