// css reset
@use 'reset';

// fonts
@font-face {
	font-family: "Roboto";
	src: local("Roboto-Regular-webfont"),
		url(./fonts/Roboto-Regular-webfont.woff) format("woff");
}

@font-face {
	font-family: "Signika";
	src: local("Signika-Regular"),
		url(./fonts/Signika-Regular.otf) format("woff");
}

// css custom properties
:root {
	--background-global-color: hsl(80, 1%, 95%);
	--text-color: hsl(203, 73%, 28%);

	--background-nav: hsl(205, 41%, 77%);
}

html {
	background-color: var(--background-global-color);
	color: var(--text-color);
	font-family: "Roboto", "Sans Serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Signika", "Serif";
}

nav {
	background-color: var(--background-nav);
}
