button {
	white-space: nowrap;
	min-height: 2em;
	background-color: var(--button-background-color);

	border-radius: 5px;
	padding: 0.25em 0.5em;
	border-style: none;

	font-family: var(--normal-font);
	font-weight: 600;
	line-height: 100%;

	&:hover,
	&:active {
		color: var(--higlight-front-color);
		background-color: var(--higlight-background-color);
	}
}
