// buttons wrapper
.buttonsWrapper {
	display: flex;
	flex-direction: row;
	
	align-items: center;
	width: 100%;
	// margin: 5px 0;
}
.buttonsWrapper--right {
	justify-content: flex-end;
}
.buttonsWrapper__button {
	margin-right: 5px;
	margin-left: 5px;
}

.buttonsWrapper__button:first-child {
	margin-left: 0px;
}

.buttonsWrapper__button:last-child {
	margin-right: 0px;
}
