.catches__table {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// display: table;
	min-height: 2rem;
}

.catches__table__row {
	border-bottom: 0.5px solid var(--blue-gradient-4);
	// width: 100%;
	display: flex;
	flex-direction: row;
}

.catches__table__row:last-child {
	border-bottom: none;
}

.catches__table__cell {
	margin: 0px 5px;
	// display: table-cell;
	// display: flex;
	display: flow;

	input {
		height: 100%; // Make input fill the cell height
		// width: 100%; // Ensure input takes full width
	}
}

.catches__table__header {
	// display: flex;
	align-items: center;
	font-weight: bolder;
}

.catches__table__header [class^="catches__table__"] {
	text-align: center;
	vertical-align: middle;
	// to equalize size with inputs, textarea...:
	padding: 2px 5px;
}

.catches__table__buttonBar {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	min-height: 2rem;
	// min-width: 150px;
	margin-left: auto;
}

.catches__table__group {
	width: 7ch;
	// width: 10%;
	text-align: center;
}
.catches__table__code {
	width: 7ch;
	// width: 10%;
	text-align: center;
}

.catches__table__species {
	width: 31ch;
	// width: 40%;
}
.catches__table__category {
	width: 10ch;
	// width: 10%;
	text-align: center;
}
.catches__table__weight {
	width: 12ch;
	// width: 10%;
	text-align: center;
}
.catches__table__sampledWeight {
	width: 12ch;
	// width: 10%;
	text-align: center;
}
.catches__table__individuals {
	width: 12ch;
	// width: 10%;
	text-align: center;
}
