.catches__table {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// display: table;
	min-height: 2rem;
}

.catches__table__row {
	// border-bottom: 0.5px solid var(--blue-gradient-4);
	// width: 100%;
	display: flex;
	flex-direction: row;
}

.catches__table__row + .catches__table__row {
	border-top: 0.5px solid var(--blue-gradient-4);
}

// .catches__table__row:last-child {
// 	border-bottom: none;
// }

.catches__table__cell {
	margin: 0px 0px;
	display: flow;
	padding: 2px 5px;

	input {
		height: 98%; // Make input fill the cell height
	}
}

.catches__table__header {
	align-items: center;
	font-weight: bolder;
}

.catches__table__buttonBar {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	min-height: 2rem;
	// min-width: 150px;
	margin-left: auto;
}

.catches__table__group {
	width: 7ch;
	// width: 10%;
	text-align: center;
}
.catches__table__code {
	width: 7ch;
	// width: 10%;
	text-align: center;
	user-select: none;
}
.catches__table__code:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.catches__table__species {
	width: 28ch;
	// width: 40%;
}
.catches__table__category {
	width: 8ch;
	// width: 10%;
	text-align: center;
}
.catches__table__weight {
	width: 12ch;
	// width: 10%;
	text-align: center;
}
.catches__table__sampledWeight {
	width: 12ch;
	// width: 10%;
	text-align: center;
}
.catches__table__individuals {
	width: 10ch;
	// width: 10%;
	text-align: center;
}

// number of individuals measured by sex table
.hasLengths__container {
	display: flex;
	flex-direction: column;
	width: 8ch;
	min-width: 8ch;
	justify-content: center;
}

.hasLengths__header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 5px;
	text-align: center;
	font-size: 0.8rem;
	border-bottom: 1px solid var(--blue-gradient-4);
}

.hasLengths__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
}

.hasLengths__row__sex {
	flex: 1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

// size of number of individuals icons
.hasLengths__header__icon {
	width: 1rem;
	height: 1rem;
}
