.characteristicsGrid{
	display: grid;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
    justify-items: left;
    align-items: center;
    padding: 10px;
}

.characteristicsGrid--trawl{
    grid-template-columns: repeat(5, minmax(auto, 1fr));
    grid-template-rows: repeat(4, 1fr);
}

.characteristicsGrid--hydrography{
    grid-template-columns: repeat(5, auto);
}

.characteristicsGrid__colName{
    text-align: center;
    justify-self: center;
}

.characteristicsGrid__rowName{
    text-align: left;
    justify-self: right;
}

.characteristicsGrid__field{
    justify-self: center;
}

