// fonts
@font-face {
	font-family: "Roboto";
	src: local("Roboto-Regular-webfont"),
		url(./../fonts/Roboto-Regular-webfont.woff) format("woff");
}

@font-face {
	font-family: "Signika";
	src: local("Signika-Regular"),
		url(./../fonts/Signika-Regular.woff) format("woff");
}
