textarea,
select,
input {
	font-weight: 600;
}

// form:focus-within {
// 	background-color: lawngreen;
// }

textarea:disabled,
select:disabled,
input:disabled {
	//border size and padding must be the same as the input enabled style:
	border: 1px solid var(--wrapper-background-color);
	background: none;
	padding: 2px 5px;
	font-size: 1rem;
	font-family: var(--normal-font);
	color: var(--text-color);
	// min-height: 1.8rem;
}

textarea:enabled,
select:enabled,
input:enabled {
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid var(--background-global-color);
	padding: 2px 5px;
	background-color: var(--background-global-color);
	// min-height: 1.8rem;
}

textarea:focus,
textarea:active,
select:focus,
select:active,
input:focus,
input:active {
	border-color: var(--blue-gradient-1);
}

textarea:invalid,
select:invalid,
input:invalid {
	background-color: var(--error_background) !important;
	color: var(--error_text);
}

//STRUCTURE
.form__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	min-height: 2rem;
}

.form__cell {
	display: inline-flex;
	flex-direction: row;
	align-items: baseline;
	padding-right: 10px;

	&:last-child {
		padding-right: 0px;
	}

}

// cell aligned to the right
.form__cell--right {
	margin-left: auto;
}

// a div thia a class field to maintain together a label with an input
.field {
	white-space: nowrap;
	padding-right: 10px;
	padding-bottom: 10px;

	&:last-child {
		margin-right: auto;
	}
}

//Comment field:
.field__comment {
	width: 100%;
}

.field__comment textarea {
	display: block;
	width: 100%;
	height: 100%;
	resize: none;
	border: 0px;
}


// Input without spinners
/* Chrome, Safari, Edge, Opera */
input.input__noSpinner::-webkit-inner-spin-button,
input.input__noSpinner::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input.input__noSpinner[type="number"] {
	-moz-appearance: textfield;
}
