.lengthsWrapper {
	// margin: 0 auto;
	display: table;
	// padding: 10px 0 15px 10%;
	width: fit-content;
}

.formLengths__table,
.formLengthsRange__table {
	display: table;
	padding-bottom: 5px;
}

.formLengths__row {
	display: table-row;
}

.formLengthsRange__row {
	display: table-row;
	// padding: 5px;
}

.formLengths__cell,
.formLengthsRange__cell {
	display: table-cell;
	padding: 1px 5px 1px 0px;
	vertical-align: middle;
}

.formLengths__cell--header {
	font-size: 0.8em;
	font-weight: bold;
}

.formLengths__cell--total {
	// display: table-row;
	border-top: 1px solid var(--blue-gradient-3);
}

.formLengthsRange__table {
	border-width: 1px 0 1px 0;
	padding-top: 3px;
	border-style: solid;
	border-color: var(--blue-gradient-3);
}

// Lines before first lengths row and after the last one.
// Is mandatory use the > to select the .formLengths__cell because display:table prevent
// the use of padding-bottom (and others) in the table-row. This property only can be
// altered in display:table-cell elements.
.formLengths__row:last-child > .formLengths__cell,
.formLengths__row:first-child > .formLengths__cell,
.formLengths__row--total:last-child > .formLengths__cell {
	border-bottom: 1px solid var(--blue-gradient-3);
}
.formLengths__row--total:first-child > .formLengths__cell {
	border-top: 1px solid var(--blue-gradient-3);
}

.formLengths__row:nth-child(2) > .formLengths__cell {
	padding-top: 3px;
}

// .formLengthsRange__row:first-child > .formLengthsRange__cell {
// 	border-width: 1px 0 0 0;
// 	border-style: solid;
// 	border-color: var(--blue-gradient-3);
// }

// .formLengthsRange__row:nth-child(2) > .formLengthsRange__cell {
// 	border-width: 0 0 1px 0;
// 	border-style: solid;
// 	border-color: var(--blue-gradient-3);
// }

// Mandatory to show properly the lines of the first row:
.formLengths--hidden {
	width: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
