.icon_button {
	padding: 0px;
	margin: 0px;
	min-height: 0px; //mandatory reset min-height. Inherited from <button>
	width: 1.1rem;
	height: 1.1rem;
	border: 0px;
	border-radius: 5px;
	background-color: var(--wrapper-global-color);

	&:hover,
	&:active {
		color: var(--highlight-front-color);
		background-color: transparent;
		fill: var(--grey-gradient-2);
	}

	&:disabled {
		svg {
			fill: var(--grey-gradient-2);
		}
		background-color: transparent;
	}
}
