.headNav {
	font-family: "Signika", "Serif";

	background-color: var(--background-nav);
	min-height: 50px;

	.headNav__selectedSurvey {
		display: inline-block;
		padding: 0px 10px 0px 20px;
	}

	.headNav__wrapper {
		display: inline-block;
	}

	.headNav__item {
		display: inline-block;
	}

	.headNav__item a {
		font-size: 1.17rem;
		text-decoration-line: none;
		display: inline-block;
		padding: 15px 10px;
		&:link {
			color: var(--text-color);
		}

		&:visited {
			color: var(--text-color);
		}

		&:hover,
		&:active {
			color: var(--highlight-front-color);
			background-color: var(--highlight-background-color);
		}

		&:focus-visible {
			color: var(--highlight-front-color);
			background-color: var(--highlight-background-color);
		}
	}
}
