// stations
.stationsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 99%;

	// @media (max-width: 768px) {
	// 	max-width: 95%;
	// }
}

.station__cell {
	display: inline-flex;
	flex-direction: row;
	align-items: baseline;
	padding-right: 10px;
}

// cell aligned to the right
.station__cell--right {
	margin-left: auto;
}

.station__cell:last-child {
	padding-right: 0px;
}

.station_number {
	font-family: var(--special-font) !important;
	font-size: 2rem !important;
	font-weight: 300;
}
